/.vscode
/1.png
/10.png
/3.png
/4.png
/5.png
/6.png
/7.png
/8.png
/9.png
/awal.png
/bkg.cpp
/bkg.jpg
/disrond.png
/final project Alprog.png
/index.exe
/output
/skor.png
/sort.png
/tol.cpp
/tol.exe
/toll.cpp
/try.exe
/uts.cpp
/we.exe